.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
  }

/* body {
  background-image: url(images/hutton_background.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  } */

.reveal section h1 {
  color: #872175;
}

.reveal section h2 {
  color: #78A22F;
}

.reveal section h3 {
  color: #569BBE;
}

.reveal section code {
    color: #569BBE;
}

